*{
    background-color: black;
}
.img-css{
    display: flex;
    width: 300px;
    margin-top: 200px;
    margin-left: 800px;
    box-shadow: 20px rgb(71, 5, 71);
}
h1{
    color: white;
    margin-top: 40px;
    margin-left: 40px;
    
}
.space{
   width: 500px;

}